/* body{
    
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: blueviolet;
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    width: 40%;
    
}
th{
    height: 60%;
}
td{
    text-align: center;
}
.content{
    
    padding-left: 500px;
    padding-top: 40px;
    border: 5px solid green;
    padding-bottom: 56px;
    
} */
body, html {
    margin: 0;
    font-family: sans-serif;
    background: linear-gradient(to right, #00af7d, #15002c);
}
form{
    padding: 20px;
    border-radius: 4px;
}
.content {
    margin: 0 auto;
    width: 600px;
  
    border: 40px;
    border-radius: solid;
    border-width: medium;
}

table, td, th {
    border: 1px solid #aaa;
}



th {
    height: 30px;
}

td {
    text-align: center;
    padding: 5px;
}

.form {
    margin-top: 20px;
}

